!
{% include 'common/cisco/common/cisco/global_settings.j2' %}
!
{% include 'common/cisco/common/cisco/aaa.j2' %}
!

{% include 'common/cisco/common/cisco/dns.j2' %}
!

{% include 'common/cisco/common/cisco/vlans.j2' %}
!
{% include 'common/cisco/common/cisco/spanning_tree.j2' %}
!
{% include 'common/cisco/common/cisco/qos.j2' %}
!
{% include 'common/cisco/common/cisco/interfaces.j2' %}
!
{% include 'common/cisco/common/cisco/snmp.j2' %}
!
{% include 'common/cisco/common/cisco/banner.j2' %}
!
{% include 'common/cisco/common/cisco/vrfs.j2' %}
!
{% include 'common/cisco/common/cisco/line_configs.j2' %}
!
{% include 'common/cisco/common/cisco/ip_settings.j2' %}
!
{% include 'common/cisco/common/cisco/ntp_logging.j2' %}