{% include 'common/cisco/hostname.j2' %}
{% include 'common/cisco/global_settings.j2' %}
{% include 'common/cisco/aaa.j2' %}
{% include 'common/cisco/interfaces.j2' %}

! Distro‑only tweaks:
{% include 'distro/distro_intf.j2' %}
{% include 'common/ospf.j2' %}
