{% include 'common/hostname.j2' %}
{% include 'common/global_settings.j2' %}
{% include 'common/aaa.j2' %}
{% include 'common/interfaces.j2' %}

! Access‑only tweaks:
{% include 'access/access_intf.j2' %}
