{%- if host.config_context.aaa.new_model | default(true) -%}
aaa new-model
{% endif %}

{# Authentication #}
{% if host.config_context.aaa.authentication is defined %}
{%   if host.config_context.aaa.authentication.dot1x is defined %}
aaa authentication dot1x default {{ host.config_context.aaa.authentication.dot1x }}
{%   endif %}
{%   if host.config_context.aaa.authentication.login is defined %}
{%     if host.config_context.aaa.authentication.login.console is defined %}
aaa authentication login console default {{ host.config_context.aaa.authentication.login.console }}
{%     endif %}
{%     if host.config_context.aaa.authentication.login.default is defined %}
aaa authentication login default {{ host.config_context.aaa.authentication.login.default }}
{%     endif %}
{%   endif %}
{%   if host.config_context.aaa.authentication.enable is defined %}
aaa authentication enable default {{ host.config_context.aaa.authentication.enable }}
{%   endif %}
{% endif %}

{# Authorization #}
{% if host.config_context.aaa.authorization is defined %}
{%   if host.config_context.aaa.authorization.exec is defined %}
aaa authorization exec default {{ host.config_context.aaa.authorization.exec }}
{%   endif %}
{%   if host.config_context.aaa.authorization.network is defined %}
aaa authorization network default {{ host.config_context.aaa.authorization.network }}
{%   endif %}
{%   if host.config_context.aaa.authorization.auth_proxy is defined %}
aaa authorization auth-proxy default {{ host.config_context.aaa.authorization.auth_proxy }}
{%   endif %}
{% endif %}

{# Accounting #}
{% if host.config_context.aaa.accounting is defined %}
{%   if host.config_context.aaa.accounting.exec is defined %}
aaa accounting exec {{ host.config_context.aaa.accounting.exec }}
{%   endif %}
{%   if host.config_context.aaa.accounting.commands['0'] is defined %}
aaa accounting commands 0 {{ host.config_context.aaa.accounting.commands['0'] }}
{%   endif %}
{%   if host.config_context.aaa.accounting.commands['15'] is defined %}
aaa accounting commands 15 {{ host.config_context.aaa.accounting.commands['15'] }}
{%   endif %}
aaa accounting delay-start all
aaa accounting auth-proxy default start-stop group radius
aaa accounting dot1x default start-stop group radius
aaa accounting network default start-stop group radius
{% endif %}
aaa server radius dynamic-author

{# Server Groups #}
{% if host.config_context.aaa.server_groups is defined and host.config_context.aaa.server_groups['tacacs+'] is defined %}
aaa group server tacacs+ default
{%   for server in host.config_context.aaa.server_groups['tacacs+']['default']['servers'] %}
 server name {{ server.name }}
{%   endfor %}
{% endif %}

{# TACACS Servers #}
{% if host.config_context.aaa.tacacs_servers is defined %}
{% for server in host.config_context.aaa.tacacs_servers %}
tacacs server {{ server.name }} address ipv4 {{ server.ip_address }} key {% raw %}{{ "{% endraw %}{{server.secret_group}}{% raw %}" | get_secret_by_secret_group_name("secret") }}{% endraw %}

{% endfor %}
{% endif %}

{# Misc #}
{% if host.config_context.aaa.misc is defined and host.config_context.aaa.misc.session_id is defined %}
aaa session-id {{ host.config_context.aaa.misc.session_id }}
{% endif %}
