{% for dns in host.config_context.dns %}
{{ dns }}
{% endfor %}
ip domain lookup source-interface {{ host.config_context.syslog.source_interface }}
no ip dhcp snooping information option
ip dhcp snooping
login on-success log
ipv6 unicast-routing
!