no ip domain lookup
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service call-home
hostname {{ obj.name }}
{% raw %}
enable secret {{ "enable secret" | get_secret_by_secret_group_name("secret") }}
{% endraw %}
logging console warnings
vtp mode off
lldp run
!