{%- macro render_storm_control(intf, is_uplink=False) %}
 {%- if intf._custom_field_data.get('storm_control_level') %}
  storm-control broadcast level {{ intf._custom_field_data.get('storm_control_level') }}.00
 {%- elif is_uplink %}
  storm-control broadcast level bps 20m
 {%- else %}
  storm-control broadcast level 40.00
 {%- endif %}
 {%- if intf._custom_field_data.get('storm_control_action') %}
  {%- set action_val = intf._custom_field_data.get('storm_control_action') %}
  {%- if action_val is string %}
   {%- set action = action_val %}
  {%- elif action_val is iterable and action_val | length > 0 %}
   {%- set action = action_val[0] %}
  {%- else %}
   {%- set action = none %}
  {%- endif %}
  {%- if action and action != 'drop' %}
   storm-control action {{ action }}
  {%- endif %}
 {%- else %}
  storm-control action shutdown
 {%- endif %}
{%- endmacro %}

{# Banner Configuration #}
{{ host.config_context.data.banner_login | default('') }}
!

{# DNS Configuration #}
{%- for dns in host.config_context.dns | default([]) %}
{{ dns }}
{%- endfor %}
!

{# NTP Configuration #}
{%- if host.config_context.ntp.servers %}
{%- for server in host.config_context.ntp.servers %}
ntp server {{ server }}
{%- endfor %}
!
{%- endif %}

{# SNMP Configuration #}
{%- if host.config_context.cisco_snmp_ios.snmp %}
snmp-server contact {{ host.config_context.cisco_snmp_ios.snmp.contact | default('Unknown') }}
{%- if host.config_context.cisco_snmp_ios.snmp.use_device_location %}
snmp-server location {{ host.location.name | default('Unknown') }}
{%- endif %}
{%- for community in host.config_context.cisco_snmp_ios.snmp.communities %}
snmp-server community {{ community.name }} {{ community.permission }}
{%- endfor %}
{%- for host in host.config_context.cisco_snmp_ios.snmp.hosts %}
snmp-server host {{ host.ip }} {{ host.secret_group }}
{%- endfor %}
{%- for trap in host.config_context.cisco_snmp_ios.snmp.enable_traps %}
snmp-server enable traps {{ trap }}
{%- endfor %}
snmp-server source-interface traps {{ host.config_context.cisco_snmp_ios.snmp.trap_source | default('Vlan1000') }}
!
{%- endif %}

{# AAA Configuration #}
{%- if host.config_context.aaa %}
aaa new-model
{%- if host.config_context.aaa.misc %}
aaa session-id {{ host.config_context.aaa.misc.session_id | default('common') }}
{%- endif %}
{%- for server in host.config_context.aaa.tacacs_servers %}
tacacs server {{ server.name }}
 address ipv4 {{ server.ip_address }}
 key 7 {{ server.secret_group }}
{%- endfor %}
{%- if host.config_context.aaa.authentication %}
aaa authentication login default {{ host.config_context.aaa.authentication.login.default | default('local') }}
aaa authentication login vty {{ host.config_context.aaa.authentication.login.vty | default('local') }}
aaa authentication login console {{ host.config_context.aaa.authentication.login.console | default('enable') }}
aaa authentication enable default {{ host.config_context.aaa.authentication.enable | default('enable') }}
{%- endif %}
{%- if host.config_context.aaa.authorization %}
aaa authorization exec default {{ host.config_context.aaa.authorization.exec | default('local') }}
aaa authorization commands 0 default {{ host.config_context.aaa.authorization.commands['0'] | default('local') }}
aaa authorization commands 15 default {{ host.config_context.aaa.authorization.commands['15'] | default('local') }}
aaa authorization config-commands {{ host.config_context.aaa.authorization.config_commands | default('local') }}
{%- endif %}
{%- if host.config_context.aaa.accounting %}
aaa accounting exec default {{ host.config_context.aaa.accounting.exec | default('none') }}
aaa accounting commands 0 default {{ host.config_context.aaa.accounting.commands['0'] | default('none') }}
aaa accounting commands 15 default {{ host.config_context.aaa.accounting.commands['15'] | default('none') }}
{%- endif %}
!
{%- endif %}

{# Line Configurations #}
{%- if host.config_context.line_configs %}
line vty 0 4
 {{ host.config_context.line_configs.vty | default('') | indent(1) }}
!
line console 0
 {{ host.config_context.line_configs.console | default('') | indent(1) }}
!
{%- endif %}

{# STP Configuration #}
{%- if host.config_context.stp %}
spanning-tree mode {{ host.config_context.stp.mode | default('rapid-pvst') }}
spanning-tree vlan 1-4094 priority {{ host.config_context.stp.priority | default(61440) }}
!
{%- endif %}

{# Global OSPF Configuration #}
{%- if host.config_context.ospf or host.config_context.ospf_group %}
router ospf {{ host.config_context.ospf_group.process_id | default(1) }}
 {%- if host.config_context.ospf.loopback_ip %}
  router-id {{ host.config_context.ospf.loopback_ip }}
 {%- endif %}
 {%- if host.config_context.ospf_group.global_settings.ignore_lsa_mospf %}
  ignore lsa mospf
 {%- endif %}
 {%- if host.config_context.ospf_group.global_settings.log_adjacency_changes %}
  log-adjacency-changes {{ host.config_context.ospf_group.global_settings.log_adjacency_changes }}
 {%- endif %}
 {%- if host.config_context.ospf.area %}
  area {{ host.config_context.ospf.area }} authentication message-digest
  area {{ host.config_context.ospf.area }} {{ host.config_context.ospf_group.area_type | default('stub') }} {{ host.config_context.ospf_group.area_options | default([]) | join(' ') }}
  network {{ host.config_context.ospf.loopback_ip | default('0.0.0.0') }} 0.0.0.0 area {{ host.config_context.ospf.area }}
 {%- endif %}
!
{%- endif %}

{# Interface Configurations via Include #}
{% include 'common/cisco/interfaces.j2' %}
!