!
ip default-gateway {{ host.config_context.site_pedc.default_gateway | default("10.4.1.1") }}
ip http server
ip http authentication local
ip http secure-server
ip http client source-interface {{ host.config_context.syslog.source_interface }}
ip forward-protocol nd
ip tacacs source-interface {{ host.config_context.syslog.source_interface }}
ip ssh source-interface {{ host.config_context.syslog.source_interface }}
ip ssh version 2
