{% if host.config_context.qos.class_maps is defined and host.config_context.qos.class_maps | length and (host.config_context.qos.enable | default(true)) %}
! — QoS Class-maps (system-cpp policies)
! NOTE: This section is not required for new devices as these are default class-maps applied automatically
{% for cm in host.config_context.qos.class_maps %}
class-map match-any {{ cm.name }}
{%   if cm.description is defined and cm.description %}
  description {{ cm.description }}
{%   endif %}
{% endfor %}
{% endif %}