{#- storm_control.j2: Macro for Cisco storm control configuration -#}
{%- macro storm(custom_fields, is_trunk=false) %}
{%- set level = custom_fields.get('storm_control_level') %}
{%- set action = custom_fields.get('storm_control_action') %}
{%- if level and level != '' %}
storm-control broadcast level {{ level }}
storm-control multicast level {{ level }}
{%- if not is_trunk %}
storm-control unicast level {{ level }}
{%- endif %}
{%- if action and action != '' %}
storm-control action {{ action }}
{%- endif %}
{%- endif %}
{%- endmacro %}