{% if host.config_context.cisco_snmp_ios is defined and host.config_context.cisco_snmp_ios.snmp is defined %}
! SNMP ACLs
{% if host.config_context.cisco_snmp_ios.snmp.acl_51 %}
ip access-list standard 51
{% for rule in host.config_context.cisco_snmp_ios.snmp.acl_51 %}
  {{ rule.sequence }} {{ rule.text }}
{% endfor %}
{% endif %}
{% if host.config_context.cisco_snmp_ios.snmp.acl_60 %}
ip access-list standard 60
{% for rule in host.config_context.cisco_snmp_ios.snmp.acl_60 %}
  {{ rule.sequence }} {{ rule.text }}
{% endfor %}
{% endif %}
{% endif %}
