! Global Settings
hostname {{ host.name }}
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service call-home
enable secret {{ host.config_context.security_defaults.enable_secret | default('<ENABLE_SECRET>') }}
logging console warnings
vtp mode off
lldp run