!
ip default-gateway {{ host.config_context.site_pedc.default_gateway }}
ip http server
ip http authentication local
ip http secure-server
ip http client source-interface {{ host.config_context.syslog.source_interface }}
ip forward-protocol nd
ip tacacs source-interface {{ host.config_context.syslog.source_interface }}
ip ssh source-interface {{ host.config_context.syslog.source_interface }}
ip ssh version 2
{% for dns in host.config_context.dns %}
  {{ dns }}
{% endfor %}
ip domain lookup source-interface {{ host.config_context.syslog.source_interface }}
!