! NTP Configuration
{% for server in host.config_context.ntp.servers %}
ntp server {{ server }}
{% endfor %}

ip access-list standard NTP_ACCESS_ACL
 10 permit 10.9.65.164
 20 permit 10.9.65.162
 30 permit 10.9.198.204
 40 permit 10.9.198.205
 50 permit 10.9.65.169
 60 permit 10.9.198.219
 70 permit 10.9.65.163
 80 permit 10.9.198.206
