!
{% for comm in host.config_context.snmp.communities %}
snmp-server community {{ comm.name.startswith("secret_") 
    and (host.config_context.secrets_groups
           | selectattr("name","equalto",comm.secret_group)
           | first
           | get_secret_by_secret_group_name(comm.secret_name)) 
    or comm.name }} {{ comm.permission }} {{ comm.timeout }}
{% endfor %}

! SNMP Trap Source, Contact, and Location:
snmp-server trap-source {{ host.config_context.snmp.trap_source }}
snmp-server contact "{{ host.config_context.snmp.contact }}"

{# ACLs for SNMP with sequence numbers #}
{% if host.config_context.snmp.acl_51 %}
ip access-list standard 51
{% for rule in host.config_context.snmp.acl_51 %}
  {{ rule.sequence }} {{ rule.text }}
{% endfor %}
{% endif %}
{% if host.config_context.snmp.acl_60 %}
ip access-list standard 60
{% for rule in host.config_context.snmp.acl_60 %}
  {{ rule.sequence }} {{ rule.text }}
{% endfor %}
{% endif %}

! Enabled SNMP Traps:
{% for trap in host.config_context.snmp.enable_traps %}
snmp-server enable traps {{ trap }}
{% endfor %}

! SNMP Host Entries:
{% for entry in host.config_context.snmp.hosts %}
snmp-server host {{ entry.ip }} version {{ entry.version }} {{ 
    entry.community.startswith("secret_")
    and (host.config_context.secrets_groups
           | selectattr("name","equalto",entry.secret_group)
           | first
           | get_secret_by_secret_group_name(entry.secret_name))
    or entry.community }}
{% endfor %}
