!
spanning-tree mode {{ host.config_context.stp.mode | default('mst') }}
spanning-tree extend system-id
spanning-tree vlan 1-4094 priority {{ host.config_context.stp.priority | default('61440') }}
{% if host.config_context.stp.mode == 'mst' %}
spanning-tree mst 0 priority {{ host.config_context.stp.priority | default('61440') }}
{% endif %}
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 900
!