!
{% set vlans = host.config_context.vlans | default([]) %}
{% if host.config_context.access_switch_defaults.interface_defaults.voice_vlan %}
  {% set _ = vlans.append({
    "vid": host.config_context.access_switch_defaults.interface_defaults.voice_vlan,
    "name": host.config_context.access_switch_defaults.interface_defaults.voice_name | default("VOICE")
  }) %}
{% endif %}

{% for vlan in vlans | unique(attribute="vid") | sort(attribute="vid") %}
vlan {{ vlan.vid }}
  name {{ vlan.name }}
{% endfor %}
!