{% if 'cisco_snmp_ios' in host.config_context and 'snmp' in host.config_context.cisco_snmp_ios %}
 {% if 'acl_51' in host.config_context.cisco_snmp_ios.snmp %}
ip access-list standard 51
 {% for rule in host.config_context.cisco_snmp_ios.snmp.acl_51 %}
 {{ rule }}
 {% endfor %}
 {% endif %}
 {% if 'acl_60' in host.config_context.cisco_snmp_ios.snmp %}
ip access-list standard 60
 {% for rule in host.config_context.cisco_snmp_ios.snmp.acl_60 %}
 {{ rule }}
 {% endfor %}
 {% endif %}
{% endif %}