{% if 'enable_secret' in device.config_context %}
enable secret {{ device.config_context.enable_secret }}
{% else %}
enable secret {% raw %}{{ secrets_group["Device-Creds"] | get_secret_by_secret_group_name("enable_secret") }}{% endraw %}
{% endif %}