! Global Settings
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
{% if 'global_settings' in device.config_context %}
{{ device.config_context.global_settings }}
{% endif %}