! Global Settings
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service call-home
{% if 'global_settings' in host.config_context %}
{{ host.config_context.global_settings }}
{% endif %}