! Interfaces
{% for interface in host.interfaces %}
interface {{ interface.name }}
{%- if interface.description %}
 description {{ interface.description }}
{%- endif %}
{%- if interface.ip_addresses %}
 {% set ip = interface.ip_addresses[0].address.split('/')[0] %}
 {% set prefix = interface.ip_addresses[0].address.split('/')[1] | int %}
 ip address {{ ip }} {{ prefix | cidr_to_netmask }}
{%- endif %}
{%- if interface.vrf is defined and interface.vrf %}
 vrf forwarding {{ interface.vrf.name }}
{%- endif %}
{%- if interface.tagged_vlans or interface.untagged_vlan %}
 {%- if interface.tagged_vlans %}
 switchport mode trunk
 switchport trunk allowed vlan {{ interface.tagged_vlans | map(attribute='vid') | join(',') }}
 {%- endif %}
 {%- if interface.untagged_vlan %}
 switchport mode access
 switchport access vlan {{ interface.untagged_vlan.vid }}
 {%- endif %}
{%- endif %}
{%- if interface.enabled %}
 no shutdown
{%- else %}
 shutdown
{%- endif %}

{% endfor %}
