
! SNMP
! SNMP Community Strings:
{% for comm in host.config_context['cisco_snmp_ios']['snmp']['communities'] %}
snmp-server community {% if comm['name'].startswith("secret_") %}{% raw %}{{ secrets_group["name"] | get_secret_by_secret_group_name(comm['name'][7:]) }}{% endraw %}{% else %}{{ comm['name'] }}{% endif %} {{ comm['permission'] }} {{ comm['timeout'] }}
{% endfor %}

! SNMP Trap Source, Contact, and Location:
snmp-server trap-source {{ host.config_context['cisco_snmp_ios']['snmp']['trap_source'] }}
snmp-server contact "{{ host.config_context['cisco_snmp_ios']['snmp']['contact'] }}"
snmp-server location "{{ host.location['name'] if host.location is mapping else host.location }}"

! ACLs:
{% if host.config_context['cisco_snmp_ios']['snmp']['acl_51'] %}
ip access-list standard 51
{% for acl in host.config_context['cisco_snmp_ios']['snmp']['acl_51'] %}
  {{ acl }}
{% endfor %}
{% endif %}

{% if host.config_context['cisco_snmp_ios']['snmp']['acl_60'] %}
ip access-list standard 60
{% for acl in host.config_context['cisco_snmp_ios']['snmp']['acl_60'] %}
  {{ acl }}
{% endfor %}
{% endif %}

! Enabled SNMP Traps:
{% for trap in host.config_context['cisco_snmp_ios']['snmp']['enable_traps'] %}
snmp-server enable traps {{ trap }}
{% endfor %}

! SNMP Host Entries with Secret Lookups:
{% for entry in host.config_context['cisco_snmp_ios']['snmp']['hosts'] %}
snmp-server host {{ entry['ip'] }} {% if entry['community'].startswith("secret_") %}{% raw %}{{ secrets_group["name"] | get_secret_by_secret_group_name(entry['community'][7:]) }}{% endraw %}{% else %}{{ entry['community'] }}{% endif %}
{% endfor %}