{% if 'line_configs' in device.config_context %}
line con 0
 {{ device.config_context.line_configs.console }}
line vty 0 4
 {{ device.config_context.line_configs.vty }}
{% else %}
line con 0
 exec-timeout 15 0
line vty 0 4
 transport input ssh
{% endif %}