{% if 'logging' in device.config_context and 'console' in device.config_context.logging %}
logging console {{ device.config_context.logging.console }}
{% else %}
logging console informational
{% endif %}