{% if 'vrfs' in host.config_context %}
{% for vrf in host.config_context.vrfs %}
vrf definition {{ vrf.name }}
 address-family ipv4
 exit-address-family
 address-family ipv6
 exit-address-family
{% endfor %}
{% endif %}