# File: role/{{ obj.platform.network_driver }}_{{ obj.role.name|lower }}.j2
hostname hostname {{ obj.hostname }}


{#% include './common/cisco/hostname.j2' %}
{#% include './common/cisco/global_settings.j2' %}
{#% include './common/cisco/vrfs.j2' %}
{#% include './common/cisco/ios_snmp.j2' %}
{#% include './common/cisco/logging_config.j2' %}
{#% include './common/cisco/enable_secret.j2' %}
{#% include './common/cisco/crypto.j2' %}
{#% include './common/cisco/policy_maps.j2' %}
{#% include './common/cisco/interfaces.j2' %}

{#% include 'templates/common/cisco/banner.j2' %}
{#% include './common/cisco/line_configs.j2' %}
{#% include './common/cisco/aaa.j2' %}
{#% include './common/cisco/ntp.j2' %}
{#% include './common/cisco/syslog.j2' %}