{# Main template for Cisco XE access switches #}
{% include 'common/cisco/hostname.j2' %}
{% include 'common/cisco/global_settings.j2' %}
{% include 'common/cisco/vrfs.j2' %}
{% include 'common/cisco/aaa.j2' %}
{% include 'common/cisco/interfaces.j2' %}
{% include 'common/cisco/ios_snmp.j2' %}
{% include 'common/cisco/ntp.j2' %}
{% include 'common/cisco/syslog.j2' %}

{# Access-specific configurations #}
{% include 'access/management_svi.j2' %}
{% include 'access/uplink_portchannel.j2' %}