hostname {{ host.name }}

! SNMP Configuration

{% set snmp = host.config_context['cisco_snmp_ios']['snmp'] %}

! Community Strings:
{% for comm in snmp['communities'] %}
snmp-server community {{ comm['name'] }} {{ comm['permission'] }} {{ comm['timeout'] }}
{% endfor %}

! Trap Source, Contact, and Location:
snmp-server trap-source {{ snmp['trap_source'] }}
snmp-server contact "{{ snmp['contact'] }}"
snmp-server location "{{ host.location }}"

! Access Control Lists:
{% if snmp['acl_51'] %}
ip access-list standard 51
{% for acl in snmp['acl_51'] %}
  {{ acl }}
{% endfor %}
{% endif %}

{% if snmp['acl_60'] %}
ip access-list standard 60
{% for acl in snmp['acl_60'] %}
  {{ acl }}
{% endfor %}
{% endif %}

! Enabled SNMP Traps:
{% for trap in snmp['enable_traps'] %}
snmp-server enable traps {{ trap }}
{% endfor %}

! SNMP Host Entries:
{% for entry in snmp['hosts'] %}
snmp-server host {{ entry['ip'] }} {{ entry['community'] }}
{% endfor %}
